*
{
    background-color: black;
    padding: 0%;
    margin: 0%;
    overflow-x: hidden;
}
.form
{
    background-color: rgba(27, 39, 57, 0.687);
    color: aliceblue;
    margin: auto;
    margin-top: 15vh;
    /* padding: 10px; */
    text-align: center;
    border-radius: 10px;
    border: 10px solid transparent;
    width: 10%;
    height: 20%;
    min-width: 350px;
    max-width: 800px;   
    min-height: 400px;
    max-height: 800px;
    font-family: "Roboto", sans-serif;
    font-size: medium;
    font-weight: 700;
    font-style: normal;
    text-decoration: none;
}
body
{
    height: auto;
    width: auto;
}
input
{
    background-color: rgba(50, 50, 61, 0.865);
    border-radius: 10px;
    padding: 10px;
    width:90%;
    border-width: 0;
   
}
#fname
{
    color: aliceblue;
   
    margin-top: 8px;
    margin-bottom: 8px;
}
#lname
{
    color: aliceblue;
    
    margin-top: 8px;
    margin-bottom: 8px;
}
#email
{
    color: aliceblue;
    
    margin-top: 8px;
    margin-bottom: 8px;
}
.h1
{
    color: aliceblue;
    background-color: transparent;
    text-align: left;
    padding-left: 10px;
    margin-top: 50px;
    margin-bottom: 20px;
}
.h4
{
    color: aliceblue;
    padding-left: 10px;
    background:  transparent;
    text-align: left;
    font-family: "Roboto", sans-serif;
    font-size: medium;
    font-weight: 700;
    font-style: normal;
    text-decoration: none;
}
button
{
    color: aliceblue;
    padding: 10px 70px 10px 70px ;
    border-radius: 10px;
    width:90%;
    margin-top: 15px;   
    background: #2e99e5;
    border-width:0;
}